
body {
    background-color: rgba(206, 206, 206, 0.393);
    font-family: "Ubuntu", sans-serif;

}
.navbar{
    margin-top: 10px;
    margin-bottom: 20px;
 
 
}
.navbar-brand{
    margin-left: 25px;
}
.tableContent{
    margin: 50px;
    border-radius: 50PX;

}
 th {
    color: rgb(35, 108, 203); /* Change the color as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}